{% extends 'main/home.html' %}
{% load crispy_forms_filters %}
{% block title %}Login{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="d-flex flex-column ">
            <div>
                <p><a href="/password-reset/">Forgot Password?</a></p>
                <input  type="submit" class="btn btn-success ">
            </div>
            <div>
                <p>Don't have an account? Click <a href="/sign-up">Here</a>!</p>
            </div>

        </div>

    </form>
{% endblock %}